<% provide(:title, 'About Us') %>
<h1> About Us </h1>
<p>

<strong> US1Travel.com </strong> - Superior customer care is US1Travel.com highest priority - from the products offered, to the Traveler Care provided before, during and after the trip. 
The customer relationship doesn't end when you hit the "purchase" button. By signing up for Traveler Alerts, US1Travel.com stays in touch throughout the process - with alerts when weather or gates change, with local destination information, with automated confirmations 48 hours and 3 hours before departure - and much more not offered by other online travel agencies.
</p>
<p>
<strong> US1Travel.com </strong> was designed for you - to make your travel planning experience easier and more affordable. So if you have additional questions about our company, you're welcome to drop us a line. We'll do our best to get back to you quickly.
</p>
<p>
<strong> US1Travel.com </strong> gives you access to the America's #1 travel company, plus great values on rental cars, hotel rooms, and more. In addition, US1Travel.com brings you the latest in fare-finding technology, so you can be sure that you're getting the most complete list of available airfares.

So whether you're planning a romantic getaway, a family vacation, or a business trip, US1Travel.com has the best ways to visit planet Earth.
</p>
<p>
<strong> US1Travel.com </strong> - America's #1 Travel Company.
</p>