<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	<ul>
  		<strong> Phone: </strong> (310) 582-0099
	</ul>
	<ul>
  		<strong> Address: </strong> 1821 Wilshire Blvd, Suite 212
  	</u1>
  	<ul>
  		Santa Monica, Ca 90403
  	</ul>
</p>