<div class="center hero-unit">
  <h1>This site is currently under construction</em></h1>

  <p>
  	<ul>
  		<%= link_to image_tag("us1travellarge.png", alt: "US1Travel", size: "170"), 'http://us1travel.com/' %>
  	</ul>
	<ul>
		1821 Wilshire Blvd., Suite 212
  	</u1>
  	<ul>
  		Santa Monica, CA 90403
  	</ul>
  	<ul>
  		310.582.0099
	</ul>

	<style>
	  .photo {
	     margin-top: 1cm;
	  }
	</style>
	<ul class = "photo">
  		<%= link_to image_tag("virtuoso.png", alt: "Virtuoso member", size: "160" ), 'http://virtuoso.com/' %>
  	</ul>
  </p>

 
</div>
